*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .clearfix::after{
    clear: both;
    display: table;
    content: "";
  }
  .perfect-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  nav.container{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
  }
  
  .logo-navbar img{
    width: 150px;
    height: 60px;
    float: right;
  }
  
  ul.navbar{
    float: right;
  }
  
  ul.navbar li, ul.navbar-language li{
    display: inline-block;
  }
  
  ul.navbar li a, ul.navbar-language li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bars a{
    text-decoration: none;
    color: inherit;
  }
  main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  footer{
    margin-top: 100px;
    background-color: black;
    color: white;
  }
  footer > .container img{
    height: 50px;
  }
  footer .first-row .col-lg-3{
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .col-lg-3 ul{
    list-style-type: none;
  }
  .col-lg-3 ul li{
    padding-top: 15px;
  }
  .col-lg-3 ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.7;
  }
  footer .container .col-lg-3 a{
    color: white;
    text-decoration: none;
  }
  footer .container .col-lg-3 a:not(:last-child) {
    padding-right: 20px;
  }
  footer hr{
    opacity: 0.3;
  }
  footer .second-row .col-lg-3{
  margin-top: 35px;
  margin-bottom: 35px;
  }
  footer .third-row .col-lg-4{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  footer .third-row img{
    height: 40px;
    border: 1px solid white;
    border-radius: 5%;
    opacity: 0.9;
  }
  footer .third-row img:first-child{
    margin-right: 10px;
  }
  @media screen and (max-width: 768px){
  
    .apple-download img{
      margin-top: 5px;
    }
  
    .hb-oldman img{
      height: 100%;
    }
  
    .scooter-text{
      width: 80%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
    }
  
    .get-app, .hb-products .hb-go {
      width: 100%;
      margin-right: 0;
    }
  
    .find-us, .hb-bike{
      width: 100%;
      margin: 10px 0 0 0;
    }
    footer .first-row, footer .second-row{
      margin-left: 40px;
    }
    footer .third-row{
      margin-left: 20%;
   }
   footer hr {
     width: 80%;
   }
  }